
                  <form class="d-flex" role="search">
                     <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 800px;">
                     <button class="btn btn-outline-success" type="submit">Search</button>
                  </form> 
                  <div class="container">
                     <div class="left-div">
                        Stock goes here
                     </div>
                     <div class="right-div">
                        Chosen stock goes here
                     </div>
                  </div>